[report]
omit =
    emcee/interruptible_pool.py
    emcee/mpi_pool.py
    emcee/ptsampler.py
    docs/*
    tests/*
    *__init__*

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    except ImportError
    def __len__
    def __repr__
    logging.warn
    deprecation_warning
    deprecated
    if tqdm is None
