[report]
omit =
    docs/*
    emcee/pools/*
    emcee/compat.py
    emcee/autocorr.py
    emcee/testing/*
    *__init__*

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    def __len__
