
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: debug-statements

- repo: https://github.com/PyCQA/isort
  rev: "5.9.3"
  hooks:
  - id: isort
    args: []
    additional_dependencies: [toml]
    exclude: docs/tutorials

- repo: https://github.com/psf/black
  rev: "21.7b0"
  hooks:
  - id: black

- repo: https://github.com/dfm/black_nbconvert
  rev: v0.3.0
  hooks:
  - id: black_nbconvert
