{{=<% %>=}}
\method{<%& name %>}{<%& init_args %>}{<%& desc %>}{<%# has_args %>
\begin{args}
    <%# args %>
    \param{<%& name %>}{<%& dtype %>}{<%& desc %>}
    <%/ args %>
\end{args}
<%/ has_args %><%# has_kwargs %>
\begin{kwargs}
    <%# kwargs %>
    \param{<%& name %>}{<%& dtype %>}{<%& desc %>}
    <%/ kwargs %>
\end{kwargs}
<%/ has_kwargs %><%# has_returns %>
\begin{returns}
    <%# returns %>
    \param{<%& name %>}{<%& dtype %>}{<%& desc %>}
    <%/ returns %>
\end{returns}
<%/ has_returns %><%# has_yields %>
\begin{yields}
    <%# yields %>
    \param{<%& name %>}{<%& dtype %>}{<%& desc %>}
    <%/ yields %>
\end{yields}
<%/ has_yields %><%# has_errors %>
\begin{errors}
    <%# errors %>
    \exception{<%& name %>}{<%& desc %>}
    <%/ errors %>
\end{errors}
<%/ has_errors %>}
